
<!DOCTYPE html> 
<html> 
<head> 
  <meta name="viewport" content="user-scalable=no,initial-scale=1.0,maximum-scale=1.0" />

  <style>
  body { padding:10px; margin:0px; background-color: #ccc; }
  #main { margin: 10px auto 0px auto; }
  </style>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script type="text/javascript">
    function handleClick(el) {
      console.log(el.value);
      console.log(context);
      context.lineWidth = el.value;
    }
  </script>
  

</head> 
<body>
  {% csrf_token %}
<button id="save">save</button>
<input type="radio" id="line2" name="linewidth" value="2" onclick="handleClick(this);">
<label for="line2">2</label>
<input type="radio" id="line5" name="linewidth" value="5" onclick="handleClick(this);">
<label for="line5">5</label>
<input type="radio" id="line15" checked="checked" name="linewidth" value="15" onclick="handleClick(this);">
<label for="line15">15</label>
<input type="radio" id="line30" name="linewidth" value="30" onclick="handleClick(this);">
<label for="line30">30</label> <br>
<canvas id="main" width="300" height="400"></canvas>
<script type="text/javascript">
  window.onload = function() {

    document.ontouchmove = function(e){ e.preventDefault(); }

    var canvas  = document.getElementById('main');
    var canvastop = canvas.offsetTop

    context = canvas.getContext("2d");

    var lastx;
    var lasty;
    var down;

    context.strokeStyle = "#000000";
    context.lineCap = 'round';
    context.lineJoin = 'round';
    context.lineWidth = 15;

    function clear() {
      context.fillStyle = "#ffffff";
      context.rect(0, 0, 300, 400);
      context.fill();
    }

    function dot(x,y) {
      context.beginPath();
      context.fillStyle = "#000000";
      context.arc(x,y,1,0,Math.PI*2,true);
      context.fill();
      context.stroke();
      context.closePath();
    }

    function line(fromx,fromy, tox,toy) {
      context.beginPath();
      context.moveTo(fromx, fromy);
      context.lineTo(tox, toy);
      context.stroke();
      context.closePath();
    }

    canvas.ontouchstart = function(event){                   
      event.preventDefault();                 
      
      lastx = event.touches[0].clientX;
      lasty = event.touches[0].clientY - canvastop;

      dot(lastx,lasty);
    }
    canvas.onmousedown = function(event){                   
      event.preventDefault();
      down = true;
      
      lastx = event.clientX;
      lasty = event.clientY - canvastop;

      dot(lastx,lasty);
    }
    canvas.onmousemove = function(event){                   
      event.preventDefault();                 

      var newx = event.clientX;
      var newy = event.clientY - canvastop;

      if (down) {
        line(lastx,lasty, newx,newy);
      }
      
      lastx = newx;
      lasty = newy;
    }
    canvas.onmouseup = function(event){                   
      event.preventDefault();
      down = false;
    }
    canvas.ontouchmove = function(event){                   
      event.preventDefault();                 

      var newx = event.touches[0].clientX;
      var newy = event.touches[0].clientY - canvastop;

      line(lastx,lasty, newx,newy);
      
      lastx = newx;
      lasty = newy;
    }


    // var clearButton = document.getElementById('clear')
    // clearButton.onclick = clear
    var saveButton = document.getElementById('save')
    saveButton.onclick = save

    clear()
  };
  function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  };

  function save(){
    var csrftoken = $("input[name='csrfmiddlewaretoken']").val();
    var canvas  = document.getElementById("main");
    var dataURL = canvas.toDataURL();

    $.ajax({
      type: "POST",
      data: { 
         imgBase64: dataURL
      },
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      },
    })
    .done(function(o) {
      console.log('saved');
      console.log(o);
      window.location.replace("/core/doodle/" + o);
    });

  }
</script>
</body>
</html>